In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import numpy as np

from subprocess import check_output
print(check_output(["ls", "../Idea2"]).decode("utf8"))

Fires_CA.csv
Idea2 - Predicting Chances of Wildfire_Reading Data.ipynb
Idea2-Predicting_Chances_of_Wildfires.ipynb

#### The original dataset from Kaggle (available at: https://www.kaggle.com/rtatman/188-million-us-wildfires) is in a SQLite format and the dates are in Julian date format. The dataset is converted into a pandas dataframe by using sqlite3 and connecting to the dataframe. Only the following columns of interest are used in creating the dataframe  -  Fire Year, Cause of Fire, Latitude, Longitude, State, Fips Code, Fips Name, Discovery Date, Discovery Time, Contained Date, Contained Time and Fire size. The dataframe is written into a table called Fires.

In [2]:
cnx = sqlite3.connect('/Users/shridhar/Downloads/FPA_FOD_20170508.sqlite')

In [4]:
df = pd.read_sql_query("SELECT FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,FIPS_CODE,FIPS_NAME,DISCOVERY_DATE,DISCOVERY_TIME,CONT_DATE,CONT_TIME,FIRE_SIZE FROM 'Fires'", cnx)

In [5]:
df.head(100)

,FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,FIPS_CODE,FIPS_NAME,DISCOVERY_DATE,DISCOVERY_TIME,CONT_DATE,CONT_TIME,FIRE_SIZE
0,2005,Miscellaneous,40.036944,-121.005833,CA,063,Plumas,2453403.5,1300,2453403.5,1730,0.10
1,2004,Lightning,38.933056,-120.404444,CA,061,Placer,2453137.5,0845,2453137.5,1530,0.25
2,2004,Debris Burning,38.984167,-120.735556,CA,017,El Dorado,2453156.5,1921,2453156.5,2024,0.10
3,2004,Lightning,38.559167,-119.913333,CA,003,Alpine,2453184.5,1600,2453189.5,1400,0.10
4,2004,Lightning,38.559167,-119.933056,CA,003,Alpine,2453184.5,1600,2453189.5,1200,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2005,Debris Burning,38.700278,-119.840556,CA,003,Alpine,2453496.5,1145,2453499.5,1330,0.10
96,2005,Arson,38.453611,-119.458611,CA,051,Mono,2453559.5,0015,2453559.5,0045,0.01
97,2005,Lightning,36.669444,-107.253611,NM,039,Rio Arriba,2453532.5,1901,2453532.5,2000,0.10
98,2005,Lightning,36.876389,-107.219167,NM,039,Rio Arriba,2453543.5,1820,2453543.5,2315,0.25
99,2005,Railroad,48.458333,-115.666667,MT,053,Lincoln,2453553.5,1300,2453553.5,1435,0.10

#### The dataframe contains information from many states, but for the purpose of this project, I'm only looking at California. Creating a csv file as Fires_CA with data for California.

In [6]:
df_CA = df[(df['STATE'] == 'CA') & (df['FIRE_YEAR']>=2010)]

In [7]:
df_CA.to_csv('Fires_CA.csv')